.mainInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 60%;

    margin: 1.5rem auto;

    background-color: var(--blue-black);
    border-radius: 10px;
    padding: 3rem;
}

.mainInfo > div {
    display: flex;
}

.heading {
    justify-content: space-between;
}

.info > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 33%;
}

.itemList {
    background-color: var(--dark-blue);

    border-radius: 10px;
    overflow: hidden;
}

table {
    width: 100%;
    justify-content: space-between;

    border-collapse: collapse;
}

table th {
    font-size: 1rem;
    padding: 1rem 0 0.5rem 0;
}

table td {
    padding: 0.7rem 1.5rem;
}

table tbody {
    text-align: center;
    font-size: 1rem;
}

table tbody td:first-child {
    text-align: left;
}

table tbody tr:last-child {
    background-color: var(--black);
    font-size: 1.2rem;
}

table tbody tr:last-child td {
    padding: 2rem 1.5rem;
}

table tbody tr:last-child td:last-child {
    font-size: 1.5em;
}

/* Move in global styles */
h3 {
    font-weight: 400;
    margin-bottom: 0.5rem;
}